<!DOCTYPE html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"
        integrity="sha256-FgiaQnQazF/QCrF9qSvpRY6PACn9ZF8VnlgqfqD1LsE="
        crossorigin="anonymous"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style>
    table {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }

        table th {
            background: #b5cfd2;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }

        table td {
            background: #dcddc0;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }

    .foot {
        text-align: center;
    }
</style>
<body>
    <center><h1><a href="~/Home/Index/">QuizPlace</a></h1></center>
    <div style="width: auto; background-color: #b6ff00;" align="right">
        @if (Request.IsAuthenticated)
        {
            <strong>@Html.Encode(User.Identity.Name)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            @Html.ActionLink("Sign Out", "Logout", "Home")
        }
        else
        {
            <span>|</span>
        }
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="form-login">
                <center>
                    @if (TempData["UserMessage"] != null)
                    {
                        <div>
                            <strong>Data Successfully Saved</strong> 
                        </div>
                    }
                    @if (TempData["PasswordMessage"] != null)
                    {
                        <div>
                            <h4 style="color:red;">Wrong Password</h4>
                        </div>
                    }
                    @RenderBody()

                    @Scripts.Render("~/bundles/jquery")
                    @RenderSection("scripts", required: false)
                </center>
            </div>
        </div>
    </div>
    </div>
</body>
</html>