@model Models.User
@{
    ViewBag.Title = "QuizPlace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Login", "Home", FormMethod.Post,
                                                  new { enctype = "multipart/form-data" }))
{
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="form-login">
                            <center>
                                <h4>Welcome back.</h4>
                                <div class="editor-label" style="float:left;">
                                    @Html.LabelFor(u => u.UserName)
                                </div>
                                <div class="editor-field" for="lg">
                                    @Html.TextBoxFor(u => u.UserName) <br />
                                    @Html.ValidationMessageFor(u => u.UserName)
                                </div>
                                <br/>
                                <div class="editor-label" style="float:left;padding-right: 0.75em;">
                                    @Html.LabelFor(u => u.Password)
                                </div>
                                <div class="editor-field" for="lg">
                                    @Html.PasswordFor(u => u.Password) <br />
                                    @Html.ValidationMessageFor(u => u.Password)
                                </div>
                                <span class="group-btn">
                                    <br />
                                    <input type="submit" value="Log In" class="btn btn-primary btn-md" />
                                </span>
                            </center>
                        </div>
                    </div>
                </div>
        </div>
}